# =========================
# FreeCAD
# =========================

*.FCStd1
*.FCStd~
*.bak
*.tmp
*.autosave
*.FCBak

*.FCStd.zip

# =========================
# Arduino
# =========================

*.elf
*.bin
*.eep
build/
build-*/
*.arduino.avr.*
.sketch/
